<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <!-- <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script> -->
    <!-- <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script> -->
    <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>
    <script defer src="/js/firebase.js"></script>
    <script defer src="/js/main.js"></script>
    <script defer src="/js/index.js"></script>
  </head>
  <body>
    <div class="container">

      <aside class="brand">
        <div class="logo-container">
          <h1 class="brand-title">Eclipse</h1>
          <img class="logo-img" src="/images/logo.png">
        </div>
      </aside>

      <main class="files-container">

        <div class="current-folder-container">

          <h2 class="current-folder">Path/folder/file Path/folder/file</h2>

        </div>

        <ul class="list-files">
          <li>
            <img class="img-file" src="/icons/folder.png">
            <span>title.txt</span>
          </li>
        </ul>

        <div class="upload-time-container">  

          <div class="upload-time-desc-info">

            <div class="upload-time-desc-info-head">
            <div class="icon-upload-rotate-container"><img class="icon-upload-rotate" src="/icons/loadUpload.png"></div>

            <div class="upload-time-name-file">fazendo upload do arquivo txt.txt

            </div>
          </div>

            <div class="upload-time-end">tempo restante 00:00:30</div>

          </div>

          <div class="upload-time-desc-view">
            
          </div>

        </div>
    
      </main>

      <aside class="files-option-container">

        <div class="option-content">

          <form>

            <input type="search" name="search">

            <button class="btn-search" type="submit">
              <img src="/icons/search.png" alt="" class="serch-icon">
            </button>
            
          </form>

          <div class="file-options-buttons">

            <button class="newFolder">Pasta</button>
            <button class="rename">Renomear</button>
            <button class="remove">Excluir</button>
            <button class="upload">Arquivo</button>
            <button class="cancel">Cancelar</button>

          </div>

          <form class="input-upload-form" enctype="multipart/form-data">

            <input type="file" name="upload" class="file-upload" multiple>

            <input type="submit" name="form">

          </form>

        </div>

      </aside>

      <div class="btn-upload-mobile-container">

        <button class="mobile-btn-upload">+</button>

      </div>

    </div>
  </body>
</html>
