@keyframes rotateIcon {
    100%{
        transform: rotate(500deg);
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.brand{
    width: 30%;
    background-color: #00969F;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-title{
    color: #fff;
    margin: 25% 0;
    font-size: 2em;
}

.logo-img{
    display: block;
    width: 100%;
}

.files-container{
    width: 100%;
    position: relative;
    overflow-y: auto;
    padding: 1em;
}

.current-folder{
    margin-bottom: 2em;
}

.list-files{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content:space-evenly;
}

.list-files li{
    text-align: center;
    padding: .8em 1em .8em;
}

.list-files .img-file{
    display: block;
    width: 5em;
}

.files-option-container{
    width: 40%;
    padding: 0 1%;
}

.option-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option-content form{
    display: flex;
    width: 60%;
    margin: 10% 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 2%;
}

.option-content form .btn-search{
    display: block;
    width: 2em;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 1em;
}

.serch-icon{
    display: block;
    width: 100%;
}

.option-content form input[type=search]{
    width: 100%;
    border: 0;
    padding: 0 2%;
    outline: none;
    font-size: 1em;
}

.option-content form:focus-within{
    border:1px solid #00969F;
    box-shadow: 0px 0px 5px 0px #00969F;
}

.file-options-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.file-options-buttons button{
    width: 40%;
    margin: 2% 0;
    padding: 3%;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    text-align: left;
    cursor: pointer;
}

.file-options-buttons .newFolder{
    background-color:rgba(0,130,138,0.33);
    text-align: center;
}

.file-options-buttons .newFolder:hover{
    background-color:rgba(0,130,138,0.50);
}

.file-options-buttons .newFolder:active{
    background-color:rgba(0,130,138,0.60);
}

.file-options-buttons :not(.newFolder):hover{
    background-color:rgba(0,130,138,0.10);
}

.file-options-buttons :not(.newFolder):active{
    background-color:rgba(0,130,138,0.33);
}

.file-options-buttons .upload{
    width: 100%;
    background-color:#00969F;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.file-options-buttons .upload:hover{
    background-color:#017076;
}

.file-options-buttons .upload:active{
    background-color:#00969F;
}

.file-options-buttons .cancel{
    display: none;
}

.upload-time-container{
    display: none;
    position: sticky;
    bottom: 4rem;
    width: 80%;
    padding: .3em 0 0;
    margin-left: calc(50% - 40%);
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(101, 105, 109, 0.9);
}

.upload-time-desc-info{
    display: flex;
    justify-content: space-around;
    padding: .2em 0;
}

.upload-time-desc-info-head{
    display: flex;
}

.upload-time-desc-info div{
    padding: 0 .2em;
    color: #fff;
}

.upload-time-desc-view{
    height: 20px;
    background-color: #017076;
    border-radius: 0px 20px 20px 0;
    width: 50%;
}

.icon-upload-rotate{
    animation: rotateIcon 2s linear infinite;
}

.btn-upload-mobile-container{
    display: none;
}

.upload-option-container{
    display: none;
}

.fileactive-option-container{
    display: none;
}

/* classe para selecionar file */
.active_li{
    background-color: rgba(0,150,159,18%);
}

.option-content .input-upload-form{
    display: none;
}

/* media queries */

@media (max-width:600px){

    .container{
        flex-direction: column;
        justify-content: start;
    }

    .brand{
        display: none;
        order: 3;
    }

    .files-container{
        order: 2;
        width: 100%;
        padding-top: 0;
    }

    .list-files{
        padding-right: 2em;
    }

    .files-option-container{
        order: 1;
        width: 100%;
        position: sticky;
    }

    .current-folder-container{
        text-align: center;
    }

    .upload-time-desc-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .2em 0;
    }

    .btn-upload-mobile-container{
        display: block;
        position: absolute;
        bottom: 10%;
        right: 8%;
        z-index: 100;
    }

    .mobile-btn-upload{
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: #00969F;
        border: none;
        color: #fff;
        font-size: 1.8em;
    }

    .current-folder-container{
        position: sticky;
        top: 0px;
        padding: .5em 0;
        margin-bottom:1.5em ;
        background-color: #fff;
    }

    .current-folder-container h2{
        margin: 0;
    }

    .file-options-buttons{
        display: none;
        flex-direction: row;
        background-color: #00969F;
        justify-content: space-between;
        align-items: center;
        padding: 2.3em 1em;
    }

    .file-options-buttons._active_upload-option button,
    .file-options-buttons._active_file-option button{
        border-radius: 50px;
        width: auto;
        padding: .8em 1.8em;
    }

    .file-options-buttons._active_upload-option button:hover,
    .file-options-buttons._active_file-option button:hover{
        background-color: #fff;
    }

    .file-options-buttons._active_upload-option button.cancel:hover,
    .file-options-buttons._active_file-option button.cancel:hover{
        background-color: #363636;
    }

    .file-options-buttons button:not(.cancel){
        background-color: #fff;
        color: #000;
    }

    .file-options-buttons .cancel{
        background-color: #363636;
        color: #fff;
    }

    .file-options-buttons._active_upload-option .upload{
        color:#017076;
        font-weight: 600;
    }

    .file-options-buttons._active_upload-option .cancel{
        display: block;
    }

    .file-options-buttons._active_upload-option .remove, 
    .file-options-buttons._active_upload-option .rename{
        display: none;
    }

    .file-options-buttons._active_file-option .newFolder,
    .file-options-buttons._active_file-option .upload
    {
        display: none;
    }

    .file-options-buttons._active_file-option .cancel{
        display: block;
    }

    /* classe para ativar as options do upload e file */
    ._active_upload-option,._active_file-option{
        display: flex;
    }

    /* classe para desabilitar o input de busca */
    .option-content form._disabled{
        display: none;
    }

}